.stars{
    background-image: url("../../Image/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.back{
    background-image: url("../../Image/planets2.png");
    background-size: cover;
    width: 100%;
    /* height: 50vh; */
}

